.contenedor-producto {
  position: relative;
  height: 35px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 10% 65% 30%;  
  top: -10px;
}  

  
  
  
      