body {
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-size: 14px;
}

.app {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.menu-izquierdo {
  height: fit-content;
  margin-top: 50px;
  width: 0;
  padding: 10px;
  transform: translateX(-100%);
  transition: width 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 20px;    
}

.menu-izquierdo.activo {
  width: 20%;
  transform: translateX(0);
}

.menu-central {
  width: 50%;
  padding: 20px;
}

  .menu-derecho {
    height: fit-content;
    position: relative;
    right: 14px;
    margin-top: 50px;
    width: 0;
    padding: 10px;
    transform: translateX(100%);
    transition: width 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    border-radius: 20px;    
  }
  
  .menu-derecho.activo {
    width: 30%;
    transform: translateX(0);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  }

  


/*------------------------------------------------------------------------------*/

button {
background-color: transparent;  
border: 0.5px solid rgb(232, 229, 229);
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover{
  background-color: #66cccc;
  color: white;
}

.noHover:hover {
  background-color: initial; 
  color: #63aca4;
}


button.menos {
  color: #63aca4; 
  border: none;
  font-size: 24px;
}
  
button.activo {
  border: none;
  background-color: #66cccc;
  color: #fff;
}

.justificar-centro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.justificar-extremo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.justificar-final{
  display: flex;
  justify-content: end;
}

.justificar-inicio{
  display: flex;
  align-items: center;
  justify-content: start;
}
.justificar-espacio-alrededor{
  display: flex;
  justify-content: space-around;
}

.p0{
  padding: 0;
}

.m0{
  margin: 0;
}

.t16{
  font-size: 16px;
}

.p-small{
  font-size: 10px;
}

.w50{
  width: 50%;
}

.espacio-blanco {
  height: 60px;
  background-color: white;
}

@media print {
  .no-imprimir {
    display: none;
  }
  .input-oculto {
    display: none;
  }
}

.prueba{
  background-color: rgb(224, 127, 9);
  width: auto;
  height: auto;
}

img{
  height: auto;
  width: 200px;
}


